{% extends 'assignment/base.html' %}


{% block content %}
	

	<h1><center>QUESTIONS</center>  	</h1>
	<br><br>
		{% for Quiz in quiz %}

			<div class="card">
			  <div class="card-header">
			    {{Quiz}}
			  </div>
			  <div class="card-body">
			    <h5 class="card-title">{{Quiz.quiz}}</h5>
			    <p class="card-text">
			    	Date:{{Quiz.date}}
			    	<li>Participants:</li>
			    	{% for student in Quiz.registeredStudents.all %}
					{{student}}
					{% endfor %}
			    	
			    </p>
			    <br><br>			    

			  </div>


				<div class="card-footer">
			  		<a href="{% url 'answer' Quiz.id %}" class="btn btn-secondary " tabindex="-1" role="button" aria-disabled="true">Answer</a> {{Quiz.description}}	
  				</div>
			</div>


			<br><br>
		{% endfor %}
		



		<!-- Pagination in django -->
		<nav aria-label="Page navigation example">
  			<ul class="pagination justify-content-center">
  				
  			
				<!-- to add pagination  -->

				{%if quiz.has_previous%}
				<li class="page-item"><a class="page-link" href="?page= 1">&laquo First </a></li>
				<li class="page-item"><a class="page-link" href="?page= {{quiz.previous_page_number}}">Previous </a></li>
				{% endif %}

				<!-- <li class="page-item disabled"><a class="page-link"> Page{{quiz.number}} of {{quiz.paginator.num_pages}}</a></li> -->



					<!-- to add numbers of pages in boxes   -->
				{%for i in nums %}
					<li class="page-item"><a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
				{% endfor %}


				{% if quiz.has_next %}
					<li class="page-item"><a class="page-link" href="?page= {{quiz.next_page_number}}">Next</a></li>
					<li class="page-item"><a class="page-link" href="?page= {{quiz.paginator.num_pages}}">Last &raquo</a></li>
				{% endif %}
			</ul>
		</nav>
{% endblock %}